extends layout

block content
  h1 Página das classes de nível 1
  table
    thead
        th Código
        th Título
    tbody
        for c in classes
            tr 
                td 
                    a(href="/classes/c" + c.codigo)= c.codigo
                td 
                    a(href="/classes/c" + c.codigo)= c.titulo
  a(href=('/'))
    p Voltar à Home