extends layout

block content
  h1 Página dos termos de índice
  table
    thead
        tr
            th Termo
            th ID Classe
            th Titulo Classe
    tbody
        for t in termos
            tr
                td=t.termo
                td 
                    a(href="/classes/" + t.codigoClasse)= t.idClasse
                td 
                    a(href="/classes/" + t.codigoClasse)= t.tituloClasse
  a(href=('/'))
    p Voltar à Home